.image {
    height: 300px;
    width: 100%;
}


.image-tag {
    position: relative;
    text-align: center;
}


.h-tag {
    color: rgba(240, 248, 255, 0.719);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-weight: bold;
    font-family: "Montserrat";
    padding-bottom: 15px;
    font-size: 60px;
    /* height: 40%; */
}

.p-tag {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-family: "Montserrat";
    font-weight: larger;
    /* font-weight: 700; */
}
.carousel{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* justify-content: space-around; */
    /* color: aliceblue; */
    /* background-color: transparent; */
   
}