
/* .carousel{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    background-color: transparent;
} */
.alice-carousel__stage-item * {
    margin:10px;
}
.prices{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color:white;
    font-family:"Montserrat" ;
    /* font-weight: bold; */
    background-color:   transparent;
    margin-bottom: 15px;
}
/* .search-box{
    margin-bottom: 10px;
} */

.search-coin{
    margin: 55px;

}
.table-row{
    text-align: center;
    height: 80px;
   
}
.search-input{
    width:100%;
    height: 55px;
    background-color:   black;
    color: white;
 border-color: gold;
    border-radius: 15px;
    font-size: larger;
    
}
.obj-img{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
    gap: 20px;
/* column-gap: 20px; */
justify-content: flex-start;
height: 80px;
/* text-align: center; */
padding-top: 20px;




/* column-gap: 30px; */
/* justify-items: auto; */   
}
.table-body:hover{
cursor: pointer;
}
.obj-name{
    margin-right: 5px;
    font-size: 14px;
    color: rgba(119, 136, 153, 0.637);
   
}
.table{
    width: 100%;
    color: aliceblue;
    border-radius: 7px;
    margin-top: 20px;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    
}
.row{
    display: flex;
    flex-direction: column;
align-items: flex-start;
    font-family:"Montserrat" ;
   
   
}
.one-image{
    width: 40px;
    height:40px;
   margin-right: 3px;
  

}
.table-row{
 
    align-content: center;
}
.search-coins{
    background-color: black;
    /* margin-right: 33px;
    margin-left: 33px; */
    overflow: hidden;
}
.t-head th{
    background-color: gold;
    color:black;
    /* width:55px */
    font-family:"Montserrat" ;
    height: 55px;
}

.coin-table{
    /* margin-left: 5px; */
    /* padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px; */
    background-color: black;
}

/* @media screen and (max-width:940px) {
    .navbar {
        width: 100%;
    }
} */

@media screen and (max-width:767px) {
    .search-coin{
        margin: 10px;
    
    }
}

@media screen and (max-width:478px) {
    .search-coin{
        margin: 3px;
    
    }
    .prices{
        font-size: 20px;
    }
    .obj-img{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* gap: 0px; */
    }
}